.autocomplete-wrapper {
    text-align: center;
    .search {
        width: 300px;
        padding: 10px;
        font-family: cursive;
        border: 1px solid steelblue;
    }
    .error {
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        color: steelblue;
        text-align: center;
        font-family: cursive;
        background-color: #bce1e1;
        border: 1px solid steelblue;
        border-top: none;
    }
}

.table {
    width: 600px;
    margin: 40px auto;
    padding: 10px;
    font-family: cursive;
    background-color: aquamarine;
    border: 4px solid black;
    border-radius: 10px;
    table {
        th, td {
            padding: 5px;
        }
        .title {
            width: 20%;
        }
        .year {
            width: 14%;
        }
        .director {
            width: 16%;
        }
    }
}

.select-wrapper {
    /* display: inline-block;*/
    width: 322px;
    margin: 0 auto;
    /*  vertical-align: top;
      overflow: hidden;
      border: solid grey 1px;*/
}

input {
    outline: none;
}

select {
    width: 100%;
    /*  margin: -5px -20px -5px -5px;*/
    padding: 10px;
    overflow: hidden;
    font-family: cursive;
    border: 1px solid steelblue;
    border-top: none;
    option {
        padding: 5px;
    }
}
