<div class="autocomplete-wrapper">
    <h1> Autocomplete :)</h1>
    <input #inputvcr
           type="text"
           [(ngModel)]="inputValue"
           class="search">
    <div [hidden]="!resLength"
         class="select-wrapper">
        <select #selectvcr
                [size]="resLength"
                [(ngModel)]="selected"
                [hidden]="!resLength">
            <option *ngFor="let res of results"
                    [value]="res.Title"
                    (click)="select($event.target.value)"
            >
                {{res.Title}}
            </option>
        </select>
    </div>
    <div *ngIf="error"
         class="error">
        {{error}}
    </div>
    <div *ngIf="theMovie"
         class="table">
        <table>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Plot</th>
            </tr>
            <tr>
                <td class="title">{{theMovie.Title}}</td>
                <td class="year">{{theMovie.Year}}</td>
                <td class="director">{{theMovie.Director}}</td>
                <td class="plot">{{theMovie.Plot}}</td>
            </tr>
        </table>
    </div>
</div>
