.datepicker-wrapper {
    font-family: cursive;
    position: absolute;
    top: 100px;
    left: 0;
    width: 300px;
    height: 340px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    background-color: #5eabfe;
    .switch-wrapper {
        width: 90%;
        margin: 10px auto 0 auto;
        padding: 10px;
        .arrow {
            display: inline-block;
            position: absolute;
            top: calc(50% - 10px);
            width: 20px;
            height: 30px;
            vertical-align: middle;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
            }
            &.left {
                left: 16px;
                background-image: url("./arrow-left.png");
            }
            &.right {
                right: 16px;
                background-image: url("./arrow-right.png");
            }
        }
        .year {
            display: inline-block;
        }
        .year-switch-container {
            position: relative;
        }
        .month-switch-container {
            position: relative;
            margin-top: 10px;
        }
    }
    .month-table {
        width: 90%;
        margin: 0 auto;
        padding: 10px;

        th, td {
            padding: 4px;
            border-radius: 10%;
        }
        th {
            color: #426496;
        }
        .week-days-names {
            .day-name {

            }
        }
        .single-week {
            &.animate-next {
                animation: next cubic-bezier(0.13, 0.1, 0, 0.97) 400ms forwards;
            }
            &.animate-prev {
                animation: prev cubic-bezier(0.13, 0.1, 0, 0.97) 400ms forwards;
            }
            .single-day {
                &.actual-day {
                    &:hover {
                        cursor: pointer;
                        background-color: #3e7fff;
                    }
                    &.today {
                        background-color: #ff71a1;
                    }
                }
                .day-number {

                }
            }
        }
    }
}

@keyframes next {
    0% {
        transform: translate(-300px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes prev {
    0% {
        transform: translate(300px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
