<div class="datepicker-wrapper">
    <div class="switch-wrapper">
        <div class="year-switch-container">
            <div class="arrow left" (click)="switchPeriod('prev', 'year')"></div>
            <div class="year">{{selectedMonth.year}}</div>
            <div class="arrow right" (click)="switchPeriod('next', 'year')"></div>
        </div>
        <div class="month-switch-container">
            <div class="arrow left" (click)="switchPeriod('prev', 'month')"></div>
            <div class="year">{{selectedMonth.name}}</div>
            <div class="arrow right" (click)="switchPeriod('next', 'month')"></div>
        </div>
    </div>
    <table class="month-table">
        <tr class="week-days-names">
            <th class="day-name"
                *ngFor="let weekDayName of selectedMonth.weekDaysNames"
            >{{weekDayName}}
            </th>
        </tr>
        <tr class="single-week"
            *ngFor="let week of selectedMonth.structure"
            [ngClass]="{'animate-next': flagNext, 'animate-prev': flagPrev}">
            <td class="single-day"
                [ngClass]="{'actual-day': day, 'today': day && (day.year === today.year && day.month === today.month && day.dayOfMonth === today.dayOfMonth)}"
                *ngFor="let day of week"
                (click)="pickDate(day)">
                <span *ngIf="day"
                      class="day-number"
                >{{day.dayOfMonth}}</span>
            </td>
        </tr>
    </table>
</div>



